# --------------- private CA ------------
PCA_DOMAIN_SUFFIX:  'example.org'
PCA_ORG_NAME:       'example ORG'
PCA_COMMON_NAME:    'example CA'
PCA_HOSTNAME:       'gitlab'
PCA_HOSTNAME2:      'server2'   # the 2nd server to create cert for.
# PCA_HOSTNAME3:      'server3' # the 3nd server if any.
GITLAB_FQDN:        "{{ PCA_HOSTNAME }}.{{ PCA_DOMAIN_SUFFIX }}"
